<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- SQLite database -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:tasks.db</property>

        <!-- Dialect -->
        <property name="hibernate.dialect">org.example.sqlite.SQLiteDialect</property>


        <!-- Create tables automatically -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- SQL logging -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- JDBC batch size (optional) -->
        <property name="hibernate.jdbc.batch_size">20</property>

        <!-- Mapped entities -->
        <mapping class="org.example.Task"/>

    </session-factory>
</hibernate-configuration>
